TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=v-39mllkfq65a9hdMpSN5el5clmHe2N_
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=
SESSION_DRIVER=cookie
VERSION=0.0.0